node_modules
*/node_modules

.env
.env.local
.env.*.local
.DS_Store

/backend-kumagema-website/node_modules/.prisma
/backend-kumagema-website/prisma/client
/backend-kumagema-website/prisma/migrations/

npm-debug.log*
yarn-debug.log*
*.log

/UAS-kumagema-website/dist
/UAS-kumagema-website/.vite/

*.tsbuildinfo

.idea/
.vscode/